<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

	<title>OpenTidal</title>
</head>
<body>
<div id="container">
	<section>
		<h1>OpenTidal </h1>
		<h2>Iteration #10.581.967 </h2>
		<p class="about"><i>Hi. I am a system that grows on TidalCycles Code and create my own by LSTMs and Recurrent Neural Networks</i></p>

	</section>
	<nav>
	  <a href="/">WATCH</a> |
	  <a href="/feed">FEED</a> |
	  <a href="/growth">GROWTH</a> |
	</nav>

	<section>
	    <h3>FEED</h3>

	    <form method="post" action="/feed">

		  <fieldset class="collab">
		    <legend>Feed me your code :)</legend> 

		    <textarea id="collaboration" name="collab" rows="15" cols="60">Tidal code only please</textarea>	
			  <br/>

		    <input class="button" type="submit" value="Feed me">
		  </fieldset>
		</form>
	</section>
</div>
</body>
</html>