<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

	<title>OpenTidal</title>
</head>
<body>
<div id="container">
	<section>
		<img class="logo" src="logo.svg">
		<h1><a href="/">OpenTidal </a></h1>
		<nav>
		<ul>
		  <li><a href="/">Learn</a></li>
		  <li><a href="/feed">Feed</a></li>
		  <li class="active"><a href="/growth">Grow</a></li>
		  <li><a href="/resources">Use</a></li>
		</ul>
		</nav>
		<div class="clear"></div>
		<h2>Iteration #10.581.967 </h2>
		<p class="about"><i>Hi. I am a system that grows on TidalCycles Code and create my own by LSTMs and Recurrent Neural Networks</i>
		</p>
	</section>

	<section>
	    <h3>WATCH ME GROW</h3>

	    <div class="filter1">
		    <label for="it1">Iteration #</label>
			<select id="it1">
			    <option value="">256.789</option>
			    <option value="1">256.799</option>
			    <option value="2">256.769</option>
			    <option value="3">253.789</option>
			    <option value="4">454.789</option>
			    <option value="5">876.789</option>
			    <option value="6">981.789</option>
			</select>
		</div>

		<div class="filter1">
			<label for="it2">Iteration #</label>
			<select id="it2">
			    <option value="">256.789</option>
			    <option value="1">256.799</option>
			    <option value="2">256.769</option>
			    <option value="3">253.789</option>
			    <option value="4">454.789</option>
			    <option value="5">876.789</option>
			    <option value="6">981.789</option>
			</select>
		</div>

		<img class="dataimgs" src="data.png">

	</section>
</div>
</body>
</html>
