<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

	<title>OpenTidal</title>
</head>
<body>
<div id="container">
	<section>
		<img class="logo" src="logo.svg">
		<h1><a href="/">OpenTidal </a></h1>
		<nav>
		  <ul>
			<li class="active"><a href="/">Learn</a></li>
			<li><a href="/feed">Feed</a></li>
		 	<li><a href="/growth">Grow</a></li>
		 	<li><a href="/resources">Use</a></li>
		   <ul>
		</nav>
		<div class="clear"></div>
		<div class="iteracion">
			<h2>Iteration #10.581.967 </h2>
			<p class="about"><i>Hi. I am a system that grows on TidalCycles Code and create my own by LSTMs and Recurrent Neural Networks</i></p>
		</div>

	</section>

	<section>
	    <h3>WATCH & LEARN</h3>
	    <div id="resultadoIteracion">
	    	<p class="in">In</p>
	    	<p class="code ML">
	    		<span class="white">d1</span>
	    		<span class="pink">$</span>
	    		<span class="white">sound</span>
	    		<span class="yellow">"bd sd:1"</span>
	    	</p>
	    	<div class="clear"></div>
	    	<p class="out">Out</p>
	    	<p class="code User">
		    	<span class="white">d2 </span>
				<span class="pink">$ </span>
				<span class="white">sound </span>
				<span class="yellow">"hh hh hh hh"</span>
			</p>
			<div class="clear"></div>
			<p class="in">In</p>
			<p class="code ML">
		    	<span class="white">d3 </span>
				<span class="pink">$ </span>
				<span class="white">sound </span>
				<span class="yellow">"arpy"</span>
			</p>
			<div class="clear"></div>
			<p class="out">Out</p>
	    	<p class="code User">
	    		<span class="white">interlace (randcat [sound </span>
	    	 	<span class="yellow">"jvbass*3"</span>
	    	 	<span class="white">, s </span>
	    	 	<span class="yellow">"bass1" </span>
	    	 	<span class="white"># cut </span>
	    	 	<span class="violet">1</span>
	    	 	<span class="white">]) (every</span>
	    	 	<span class="violet">7 </span>
	    	 	<span class="white">(rev </span>
	    	 	<span class="pink">. </span>
	    	 	<span class="white">(fast </span>
	    	 	<span class="violet">2</span>
	    	 	<span class="white">)) </span>
	    	 	<span class="pink">$ </span>
	    	 	<span class="white">sound </span>
	    	 	<span class="yellow">"bd:3 hh:3" </span>
	    	 	<span class="white"># gain </span>
	    	 	<span class="yellow">"0.9"</span>
	    	 	<span class="white">)</span>
	    	 </p>
	    </div>
	</section>
</div>
</body>
</html>
