<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

	<title>OpenTidal</title>
</head>
<body>
<div id="container">
	<section>
		<h1>OpenTidal </h1>
		<h2>Iteration #10.581.967 </h2>
		<p class="about"><i>Hi. I am a system that grows on TidalCycles Code and create my own by LSTMs and Recurrent Neural Networks</i></p>

	</section>
	<nav>
	  <a href="/">WATCH</a> |
	  <a href="/feed">FEED</a> |
	  <a href="/growth">GROWTH</a> |
	</nav>

	<section>
	    <h3>WATCH & LEARN</h3>
		  % for sample, predicted_sample in zip(samples, predicted_samples):
			<div class="resultadoIteracion">
				<p class="code human">
					{{sample}}
				</p>	
			</div>
			<div class="resultadoIteracion">
				<p class="code ai">
					{{predicted_sample}}
				</p>	
			</div>
		% end
	    </div>
	</section>

	
</div>
</body>
</html>