<!DOCTYPE html>
<html>
<head>
	<link type="text/css" href="styles.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

	<title>OpenTidal</title>
</head>
<body>
<div id="container">
	<section>
		<img class="logo" src="logo.svg">
		<h1><a href="/">OpenTidal </a> </h1>
		<nav>
		<ul>
		  <li><a href="/">Learn</a></li>
		  <li><a href="/feed">Feed</a></li>
		  <li><a href="/growth">Grow</a></li>
		  <li class="active"><a href="/resources">Use</a></li>
		</ul>
		</nav>
		<div class="clear"></div>
		<h2>Iteration #10.581.967 </h2>
		<p class="about"><i>Hi. I am a system that grows on TidalCycles Code and create my own by LSTMs and Recurrent Neural Networks</i>
		</p>
	</section>

	<section>
	    <h3>Atom Plugin <3</h3>
		    <img class="resourceimg" src="atomlogo.png">
		    <p class="resourcedesc"> Get Tidal code or feed me some lines <br/>straight from your preferred editor.</p>

		<div class="resourcebutton">
			<input class="button" type="submit" value="Get the Plugin">
		</div>

	</section>

</div>
</body>
</html>
